Resources:
  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        InstanceType: t2.micro
        IamInstanceProfile: 
          Name: aws-elasticbeanstalk-ec2-role

option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: AWSServiceRoleForElasticBeanstalk
  aws:ec2:instances:
    InstanceTypes: t3.micro
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    RetentionInDays: 7